In [1]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](CRISP_DM.png)

# Groupby apply on the relational data set

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='India')|
                      (pd_JH_data['country']=='Korea, South'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [4]:
test_data

            date state       country  confirmed
15705 2020-03-21    no  Korea, South     8799.0
15748 2020-03-21    no         India      330.0
15965 2020-03-22    no  Korea, South     8961.0
16015 2020-03-22    no         India      396.0
16236 2020-03-23    no  Korea, South     8961.0
16283 2020-03-23    no         India      499.0
16502 2020-03-24    no  Korea, South     9037.0
16547 2020-03-24    no         India      536.0
16786 2020-03-25    no  Korea, South     9137.0
16813 2020-03-25    no         India      657.0
17034 2020-03-26    no  Korea, South     9241.0
17079 2020-03-26    no         India      727.0
17299 2020-03-27    no  Korea, South     9332.0
17346 2020-03-27    no         India      887.0
17568 2020-03-28    no  Korea, South     9478.0
17611 2020-03-28    no         India      987.0
17832 2020-03-29    no  Korea, South     9583.0
17877 2020-03-29    no         India     1024.0
18099 2020-03-30    no  Korea, South     9661.0
18143 2020-03-30    no         India     1251.0
18364 2020-03-31    no  Korea, South     9786.0
18409 2020-03-31    no         India     1397.0
18648 2020-04-01    no  Korea, South     9887.0
18674 2020-04-01    no         India     1998.0
18898 2020-04-02    no  Korea, South     9976.0
18941 2020-04-02    no         India     2543.0
19180 2020-04-03    no  Korea, South    10062.0
19206 2020-04-03    no         India     2567.0
19428 2020-04-04    no  Korea, South    10156.0
19473 2020-04-04    no         India     3082.0
19689 2020-04-05    no  Korea, South    10237.0
19739 2020-04-05    no         India     3588.0
19978 2020-04-06    no  Korea, South    10284.0
20004 2020-04-06    no         India     4778.0
20221 2020-04-07    no  Korea, South    10331.0
20271 2020-04-07    no         India     5311.0
20492 2020-04-08    no  Korea, South    10384.0
20537 2020-04-08    no         India     5916.0
20758 2020-04-09    no  Korea, South    10423.0
20803 2020-04-09    no         India     6725.0
21023 2020-04-10    no  Korea, South    10450.0
21070 2020-04-10    no         India     7598.0
21292 2020-04-11    no  Korea, South    10480.0
21335 2020-04-11    no         India     8446.0
21551 2020-04-12    no  Korea, South    10512.0
21601 2020-04-12    no         India     9205.0
21821 2020-04-13    no  Korea, South    10537.0
21868 2020-04-13    no         India    10453.0
22087 2020-04-14    no  Korea, South    10564.0
22134 2020-04-14    no         India    11487.0
22356 2020-04-15    no  Korea, South    10591.0
22399 2020-04-15    no         India    12322.0
22638 2020-04-16    no  Korea, South    10613.0
22665 2020-04-16    no         India    13430.0
22906 2020-04-17    no  Korea, South    10635.0
22930 2020-04-17    no         India    14352.0
23152 2020-04-18    no  Korea, South    10653.0
23206 2020-04-18    no         India    15722.0
23418 2020-04-19    no  Korea, South    10661.0
23463 2020-04-19    no         India    17615.0
23684 2020-04-20    no  Korea, South    10674.0
23729 2020-04-20    no         India    18539.0
23949 2020-04-21    no  Korea, South    10683.0
23996 2020-04-21    no         India    20080.0
24218 2020-04-22    no  Korea, South    10694.0
24261 2020-04-22    no         India    21370.0
24500 2020-04-23    no  Korea, South    10708.0
24527 2020-04-23    no         India    23077.0
24749 2020-04-24    no  Korea, South    10718.0
24793 2020-04-24    no         India    24530.0
25015 2020-04-25    no  Korea, South    10728.0
25059 2020-04-25    no         India    26283.0
25280 2020-04-26    no  Korea, South    10738.0
25325 2020-04-26    no         India    27890.0
25548 2020-04-27    no  Korea, South    10752.0
25591 2020-04-27    no         India    29451.0
25830 2020-04-28    no  Korea, South    10761.0
25856 2020-04-28    no         India    31324.0
26078 2020-04-29    no  Korea, South    10765.0
26124 2020-04-29    no         India    33062.0
26362 2020-04-30    no  Korea, South    10774.0
26389 2020-04-30    no         India    34863.0
26611 2020-05-01    no  Korea, South    10780.0
26655 2020-05-01    no         India    37257.0
26877 2020-05-02    no  Korea, South    10793.0
26920 2020-05-02    no         India    39699.0
27142 2020-05-03    no  Korea, South    10801.0
27187 2020-05-03    no         India    42505.0
27408 2020-05-04    no  Korea, South    10804.0
27453 2020-05-04    no         India    46437.0
27674 2020-05-05    no  Korea, South    10806.0
27719 2020-05-05    no         India    49400.0
27939 2020-05-06    no  Korea, South    10810.0
27985 2020-05-06    no         India    52987.0
28205 2020-05-07    no  Korea, South    10822.0
28251 2020-05-07    no         India    56351.0
28471 2020-05-08    no  Korea, South    10840.0
28518 2020-05-08    no         India    59695.0
28740 2020-05-09    no  Korea, South    10874.0
28783 2020-05-09    no         India    62808.0
28999 2020-05-10    no  Korea, South    10909.0
29049 2020-05-10    no         India    67161.0
29269 2020-05-11    no  Korea, South    10936.0
29316 2020-05-11    no         India    70768.0
29536 2020-05-12    no  Korea, South    10962.0
29581 2020-05-12    no         India    74292.0
29797 2020-05-13    no  Korea, South    10991.0
29847 2020-05-13    no         India    78055.0
30070 2020-05-14    no  Korea, South    11018.0
30113 2020-05-14    no         India    81997.0
30352 2020-05-15    no  Korea, South    11037.0
30378 2020-05-15    no         India    85784.0
30600 2020-05-16    no  Korea, South    11050.0
30645 2020-05-16    no         India    90648.0
30861 2020-05-17    no  Korea, South    11065.0
30911 2020-05-17    no         India    95698.0
31150 2020-05-18    no  Korea, South    11078.0
31176 2020-05-18    no         India   100328.0
31393 2020-05-19    no  Korea, South    11110.0
31443 2020-05-19    no         India   106475.0
31664 2020-05-20    no  Korea, South    11122.0
31709 2020-05-20    no         India   112028.0
31930 2020-05-21    no  Korea, South    11142.0
31975 2020-05-21    no         India   118226.0
32195 2020-05-22    no  Korea, South    11165.0
32242 2020-05-22    no         India   124794.0
32464 2020-05-23    no  Korea, South    11190.0
32507 2020-05-23    no         India   131423.0
32723 2020-05-24    no  Korea, South    11206.0
32773 2020-05-24    no         India   138536.0
32993 2020-05-25    no  Korea, South    11225.0
33040 2020-05-25    no         India   144950.0
33259 2020-05-26    no  Korea, South    11265.0
33306 2020-05-26    no         India   150793.0
33545 2020-05-27    no  Korea, South    11344.0
33570 2020-05-27    no         India   158086.0
33791 2020-05-28    no  Korea, South    11402.0
33837 2020-05-28    no         India   165386.0
34057 2020-05-29    no  Korea, South    11441.0
34104 2020-05-29    no         India   173491.0
34326 2020-05-30    no  Korea, South    11468.0
34369 2020-05-30    no         India   181827.0
34585 2020-05-31    no  Korea, South    11503.0
34635 2020-05-31    no         India   190609.0
34855 2020-06-01    no  Korea, South    11541.0
34902 2020-06-01    no         India   198370.0
35122 2020-06-02    no  Korea, South    11590.0
35167 2020-06-02    no         India   207191.0
35383 2020-06-03    no  Korea, South    11629.0
35433 2020-06-03    no         India   216824.0
35654 2020-06-04    no  Korea, South    11668.0
35699 2020-06-04    no         India   226713.0
35919 2020-06-05    no  Korea, South    11719.0
35966 2020-06-05    no         India   236184.0
36188 2020-06-06    no  Korea, South    11776.0
36231 2020-06-06    no         India   246622.0
36452 2020-06-07    no  Korea, South    11814.0
36497 2020-06-07    no         India   257486.0
36719 2020-06-08    no  Korea, South    11852.0
36763 2020-06-08    no         India   265928.0
36984 2020-06-09    no  Korea, South    11902.0
37029 2020-06-09    no         India   276146.0
37244 2020-06-10    no  Korea, South    11947.0
37295 2020-06-10    no         India   286605.0
37516 2020-06-11    no  Korea, South    12003.0
37561 2020-06-11    no         India   297535.0
37781 2020-06-12    no  Korea, South    12051.0
37828 2020-06-12    no         India   308993.0
38050 2020-06-13    no  Korea, South    12085.0
38093 2020-06-13    no         India   320922.0
38309 2020-06-14    no  Korea, South    12121.0
38359 2020-06-14    no         India   332424.0
38579 2020-06-15    no  Korea, South    12155.0
38626 2020-06-15    no         India   343091.0
38845 2020-06-16    no  Korea, South    12198.0
38892 2020-06-16    no         India   354065.0
39131 2020-06-17    no  Korea, South    12257.0
39156 2020-06-17    no         India   366946.0
39371 2020-06-18    no  Korea, South    12306.0
39423 2020-06-18    no         India   380532.0
39644 2020-06-19    no  Korea, South    12373.0
39689 2020-06-19    no         India   395048.0
39904 2020-06-20    no  Korea, South    12421.0
39955 2020-06-20    no         India   410451.0
40176 2020-06-21    no  Korea, South    12438.0
40221 2020-06-21    no         India   425282.0
40443 2020-06-22    no  Korea, South    12484.0
40487 2020-06-22    no         India   440215.0
40708 2020-06-23    no  Korea, South    12535.0
40753 2020-06-23    no         India   456183.0
40968 2020-06-24    no  Korea, South    12563.0
41019 2020-06-24    no         India   473105.0
41242 2020-06-25    no  Korea, South    12602.0
41285 2020-06-25    no         India   490401.0
41524 2020-06-26    no  Korea, South    12653.0
41550 2020-06-26    no         India   508953.0
41772 2020-06-27    no  Korea, South    12715.0
41817 2020-06-27    no         India   528859.0
42033 2020-06-28    no  Korea, South    12757.0
42083 2020-06-28    no         India   548318.0
42322 2020-06-29    no  Korea, South    12800.0
42348 2020-06-29    no         India   566840.0
42565 2020-06-30    no  Korea, South    12850.0
42615 2020-06-30    no         India   585481.0
42836 2020-07-01    no  Korea, South    12904.0
42881 2020-07-01    no         India   604641.0
43102 2020-07-02    no  Korea, South    12967.0
43147 2020-07-02    no         India   625544.0
43367 2020-07-03    no  Korea, South    13030.0
43414 2020-07-03    no         India   648315.0
43636 2020-07-04    no  Korea, South    13091.0
43679 2020-07-04    no         India   673165.0
43895 2020-07-05    no  Korea, South    13137.0
43945 2020-07-05    no         India   697413.0
44165 2020-07-06    no  Korea, South    13181.0
44212 2020-07-06    no         India   719664.0
44431 2020-07-07    no  Korea, South    13244.0
44478 2020-07-07    no         India   742417.0
44700 2020-07-08    no  Korea, South    13293.0
44743 2020-07-08    no         India   767296.0
44963 2020-07-09    no  Korea, South    13338.0
45009 2020-07-09    no         India   793802.0
45229 2020-07-10    no  Korea, South    13373.0
45276 2020-07-10    no         India   820916.0
45498 2020-07-11    no  Korea, South    13417.0
45541 2020-07-11    no         India   849522.0
45757 2020-07-12    no  Korea, South    13479.0
45807 2020-07-12    no         India   878254.0
46027 2020-07-13    no  Korea, South    13512.0
46074 2020-07-13    no         India   906752.0
46294 2020-07-14    no  Korea, South    13551.0
46339 2020-07-14    no         India   936181.0
46555 2020-07-15    no  Korea, South    13612.0
46605 2020-07-15    no         India   968857.0
46828 2020-07-16    no  Korea, South    13672.0
46871 2020-07-16    no         India  1003832.0
47110 2020-07-17    no  Korea, South    13711.0
47136 2020-07-17    no         India  1039084.0
47358 2020-07-18    no  Korea, South    13745.0
47403 2020-07-18    no         India  1077781.0
47619 2020-07-19    no  Korea, South    13771.0
47669 2020-07-19    no         India  1118206.0
47908 2020-07-20    no  Korea, South    13816.0
47934 2020-07-20    no         India  1155338.0
48151 2020-07-21    no  Korea, South    13879.0
48201 2020-07-21    no         India  1193078.0
48422 2020-07-22    no  Korea, South    13938.0
48467 2020-07-22    no         India  1238798.0
48690 2020-07-23    no  Korea, South    13979.0
48733 2020-07-23    no         India  1288108.0
48972 2020-07-24    no  Korea, South    14092.0
48998 2020-07-24    no         India  1337024.0
49220 2020-07-25    no  Korea, South    14150.0
49265 2020-07-25    no         India  1385635.0
49481 2020-07-26    no  Korea, South    14175.0
49531 2020-07-26    no         India  1435616.0
49770 2020-07-27    no  Korea, South    14203.0
49796 2020-07-27    no         India  1480073.0
50013 2020-07-28    no  Korea, South    14251.0
50063 2020-07-28    no         India  1531669.0
50284 2020-07-29    no  Korea, South    14269.0
50329 2020-07-29    no         India  1581963.0
50550 2020-07-30    no  Korea, South    14305.0
50595 2020-07-30    no         India  1634746.0
50815 2020-07-31    no  Korea, South    14336.0
50862 2020-07-31    no         India  1695988.0
51084 2020-08-01    no  Korea, South    14366.0
51127 2020-08-01    no         India  1750723.0
51343 2020-08-02    no  Korea, South    14389.0
51393 2020-08-02    no         India  1803695.0
51613 2020-08-03    no  Korea, South    14423.0
51660 2020-08-03    no         India  1855745.0
51879 2020-08-04    no  Korea, South    14456.0
51926 2020-08-04    no         India  1908254.0
52148 2020-08-05    no  Korea, South    14499.0
52191 2020-08-05    no         India  1964536.0
52411 2020-08-06    no  Korea, South    14519.0
52457 2020-08-06    no         India  2027074.0
52677 2020-08-07    no  Korea, South    14562.0
52724 2020-08-07    no         India  2088611.0
52946 2020-08-08    no  Korea, South    14598.0
52989 2020-08-08    no         India  2153010.0
53205 2020-08-09    no  Korea, South    14626.0
53255 2020-08-09    no         India  2215074.0
53475 2020-08-10    no  Korea, South    14660.0
53522 2020-08-10    no         India  2268675.0
53742 2020-08-11    no  Korea, South    14714.0
53787 2020-08-11    no         India  2329638.0
54003 2020-08-12    no  Korea, South    14770.0
54053 2020-08-12    no         India  2396637.0
54274 2020-08-13    no  Korea, South    14873.0
54319 2020-08-13    no         India  2461190.0
54539 2020-08-14    no  Korea, South    15039.0
54586 2020-08-14    no         India  2525922.0
54808 2020-08-15    no  Korea, South    15318.0
54851 2020-08-15    no         India  2589952.0
55067 2020-08-16    no  Korea, South    15515.0
55117 2020-08-16    no         India  2647663.0
55337 2020-08-17    no  Korea, South    15761.0
55384 2020-08-17    no         India  2702681.0
55603 2020-08-18    no  Korea, South    16058.0
55650 2020-08-18    no         India  2767253.0
55872 2020-08-19    no  Korea, South    16346.0
55915 2020-08-19    no         India  2836925.0
56135 2020-08-20    no  Korea, South    16670.0
56181 2020-08-20    no         India  2905825.0
56401 2020-08-21    no  Korea, South    17002.0
56448 2020-08-21    no         India  2975701.0
56670 2020-08-22    no  Korea, South    17399.0
56713 2020-08-22    no         India  3044940.0
56929 2020-08-23    no  Korea, South    17665.0
56979 2020-08-23    no         India  3106348.0
57199 2020-08-24    no  Korea, South    17945.0
57246 2020-08-24    no         India  3167323.0
57465 2020-08-25    no  Korea, South    18265.0
57512 2020-08-25    no         India  3224547.0
57734 2020-08-26    no  Korea, South    18706.0
57777 2020-08-26    no         India  3310234.0
57998 2020-08-27    no  Korea, South    19077.0
58043 2020-08-27    no         India  3387500.0
58266 2020-08-28    no  Korea, South    19400.0
58309 2020-08-28    no         India  3463972.0
58548 2020-08-29    no  Korea, South    19699.0
58574 2020-08-29    no         India  3542733.0
58791 2020-08-30    no  Korea, South    19947.0
58841 2020-08-30    no         India  3621245.0
59080 2020-08-31    no  Korea, South    20182.0
59106 2020-08-31    no         India  3691166.0
59323 2020-09-01    no  Korea, South    20449.0
59373 2020-09-01    no         India  3769523.0
59594 2020-09-02    no  Korea, South    20644.0
59639 2020-09-02    no         India  3853406.0

In [5]:
#groupby to group data for each country and aggregate
test_data.groupby(['country']).agg(np.max)

                   date state  confirmed
country
India        2020-09-02    no  3853406.0
Korea, South 2020-09-02    no    20644.0

In [6]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)
    #print(in_array)
    #print(type(in_array))

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

the test slope is: [2.]

In [7]:
test_data.groupby(['state','country']).agg(np.max)

                         date  confirmed
state country
no    India        2020-09-02  3853406.0
      Korea, South 2020-09-02    20644.0

In [8]:
#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [9]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [10]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     India         15748            NaN
                     16015            NaN
                     16283       4.832347
                     16547       6.814286
                     16813       7.139241
                     17079       6.701571
                     17346       6.582609
                     17611       6.669231
                     17877      14.102190
                     18143       8.237374
                     18409       6.563003
                     18674       4.146363
                     18941       3.454334
                     19206       8.328061
                     19473      10.132344
                     19739       6.031342
                     20004       4.500000
                     20271       5.291933
                     20537       9.376098
                     20803       8.463932
                     21070       8.021799
                     21335       8.820066
                     21601      10.474590
                     21868       9.335326
                     22134       9.098744
                     22399      12.221152
                     22665      12.777149
                     22930      13.170443
                     23206      12.653869
                     23463       9.743385
                     23729      12.276890
                     23996      15.208654
                     24261      14.126693
                     24527      14.353687
                     24793      14.552110
                     25059      15.364941
                     25325      15.615675
                     25591      17.597643
                     25856      17.213162
                     26124      17.324287
                     26389      18.696242
                     26655      16.715455
                     26920      15.414806
                     27187      15.175432
                     27453      12.727911
                     27719      13.376070
                     27985      15.147481
                     28251      15.224476
                     28518      16.799145
                     28783      18.466161
                     29049      16.935798
                     29316      16.812144
                     29581      19.840228
                     29847      20.412149
                     30113      20.276357
                     30378      21.204641
                     30645      19.915154
                     30911      18.299375
                     31176      19.743388
                     31443      18.712752
                     31709      18.167009
                     31975      19.103566
                     32242      18.541334
                     32507      18.915562
                     32773      19.150682
                     33040      20.448436
                     33306      23.620734
                     33570      23.032328
                     33837      21.666324
                     34104      21.506567
                     34369      21.114044
                     34635      21.261323
                     34902      23.002922
                     35167      23.968560
                     35433      22.484195
                     35699      22.222040
                     35966      23.406371
                     36231      23.758736
                     36497      23.168153
                     36763      26.590559
                     37029      28.565916
                     37295      26.718222
                     37561      26.813970
                     37828      26.595587
                     38093      26.437765
                     38359      27.380792
                     38626      29.964876
                     38892      31.716957
                     39156      29.738056
                     39423      27.746326
                     39689      27.104263
                     39955      26.427599
                     40221      27.139005
                     40487      28.579223
                     40753      28.514288
                     41019      27.759258
                     41285      27.659692
                     41550      27.383378
                     41817      26.491463
                     42083      26.861933
                     42348      28.856832
                     42615      30.507745
                     42881      30.986164
                     43147      30.213514
                     43414      28.674574
                     43679      27.257218
                     43945      27.413106
                     44212      29.968272
                     44478      31.989660
                     44743      31.202791
                     45009      29.885699
                     45276      29.615989
                     45541      29.483609
                     45807      29.633541
                     46074      30.689359
                     46339      31.317428
                     46605      30.183184
                     46871      28.665455
                     47136      28.590836
                     47403      28.133777
                     47669      27.258082
                     47934      28.807415
                     48201      30.867098
                     48467      28.654158
                     48733      26.096910
                     48998      26.224761
                     49265      27.416456
                     49531      28.117731
                     49796      30.364359
                     50063      30.867389
                     50329      30.056630
                     50595      30.710880
                     50862      28.722923
                     51127      29.209567
                     51393      32.498080
                     51660      34.343046
                     51926      35.499536
                     52191      35.104221
                     52457      33.102530
                     52724      32.669600
                     52989      33.184554
                     53255      34.037334
                     53522      38.252764
                     53787      39.648214
                     54053      36.442850
                     54319      36.423949
                     54586      38.074791
                     54851      39.230332
                     55117      42.513954
                     55384      46.958020
                     55650      45.252373
                     55915      41.252540
                     56181      40.941426
                     56448      41.882607
                     56713      42.777395
                     56979      46.573280
                     57246      50.762012
                     57512      53.571903
                     57777      45.259423
                     58043      40.593631
                     58309      44.065037
                     58574      44.639155
                     58841      45.050962
                     59106      48.754405
                     59373      49.825031
                     59639      46.491186
       Korea, South  15705            NaN
                     15965            NaN
                     16236     109.962963
                     16502     236.482456
                     16786     102.784091
                     17034      89.591503
                     17299      94.735043
                     17568      78.905767
                     17832      75.413015
                     18099     104.633880
                     18364      95.336617
                     18648      86.530973
                     18898     104.031579
                     19180     114.000000
                     19428     111.829630
                     19689     116.019048
                     19978     159.776042
                     20221     218.808511
                     20492     206.660000
                     20758     225.637681
                     21023     315.727273
                     21292     366.701754
                     21551     338.086022
                     21821     368.760234
                     22087     405.294872
                     22356     391.259259
                     22638     432.217687
                     22906     482.409091
                     23152     531.683333
                     23418     819.205128
                     23684    1015.492063
                     23949     970.242424
                     24218    1068.366667
                     24500     855.600000
                     24749     892.222222
                     25015    1071.800000
                     25280    1072.800000
                     25548     894.944444
                     25830     934.811594
                     26078    1655.282051
                     26362    1656.410256
                     26611    1436.400000
                     26877    1134.982456
                     27142    1027.746032
                     27408    1963.515152
                     27674    4321.466667
                     27939    3602.222222
                     28205    1351.583333
                     28471     721.600000
                     28740     417.128205
                     28999     315.198068
                     29269     351.817204
                     29536     412.666667
                     29797     398.654545
                     30070     392.511905
                     30352     478.927536
                     30600     689.687500
                     30861     789.333333
                     31150     790.309524
                     31393     492.637037
                     31664     504.696970
                     31930     695.291667
                     32195     518.279070
                     32464     465.236111
                     32723     545.707317
                     32993     640.400000
                     33259     380.745763
                     33545     189.546218
                     33791     165.503650
                     34057     234.962199
                     34326     346.575758
                     34585     370.021505
                     34855     315.178082
                     35122     265.394636
                     35383     263.333333
                     35654     298.179487
                     35919     259.377778
                     36188     217.055556
                     36452     247.782456
                     36719     310.894737
                     36984     269.454545
                     37244     250.533333
                     37516     236.646865
                     37781     230.775641
                     38050     293.813008
                     38309     345.304762
                     38579     346.295238
                     38845     315.792208
                     39131     239.281046
                     39371     226.919753
                     39644     212.275862
                     39904     215.072464
                     40176     381.866667
                     40443     395.164021
                     40708     257.436426
                     40968     317.147679
                     41242     375.124378
                     41524     280.133333
                     41772     224.011799
                     42033     244.391026
                     42322     300.172549
                     42565     275.318996
                     42836     247.141026
                     43102     220.632479
                     43367     205.825397
                     43636     210.150538
                     43895     244.598131
                     44165     291.918519
                     44431     246.492212
                     44700     236.416667
                     44963     282.801418
                     45229     333.366667
                     45498     338.632911
                     45757     253.264151
                     46027     283.564912
                     46294     375.388889
                     46555     271.166667
                     46828     224.986226
                     47110     276.060606
                     47358     375.598174
                     47619     458.077778
                     47908     388.093897
                     48151     255.962963
                     48422     227.502732
                     48690     278.640000
                     48972     181.857143
                     49220     164.604288
                     49481     340.698795
                     49770     534.943396
                     50013     373.938596
                     50284     431.545455
                     50550     528.703704
                     50815     426.965174
                     51084     470.021858
                     51343     542.025157
                     51613     505.005848
                     51879     430.527363
                     52148     380.508772
                     52411     460.042328
                     52677     461.164021
                     52946     368.599156
                     53205     456.104167
                     53475     471.870968
                     53742     333.333333
                     54003     267.539394
                     54274     185.983229
                     54539     110.736059
                     54808      67.760300
                     55067      64.246499
                     55337      70.118886
                     55603      58.114180
                     55872      54.888889
                     56135      53.457516
                     56401      50.831301
                     56670      46.704161
                     56929      52.353947
                     57199      64.724054
                     57465      59.861111
                     57734      48.108629
                     57998      46.016420
                     58266      54.930836
                     58548      62.353698
                     58791      71.963437
                     59080      82.578330
                     59323      80.448871
                     59594      88.419913
Name: confirmed, dtype: float64

In [11]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()
pd_DR_result

         state   country  level_2   confirmed
0      Alberta    Canada        0         NaN
1      Alberta    Canada      465         NaN
2      Alberta    Canada      701         NaN
3      Alberta    Canada      966         NaN
4      Alberta    Canada     1263         NaN
...        ...       ...      ...         ...
59845       no  Zimbabwe    58614  111.614035
59846       no  Zimbabwe    58850  533.500000
59847       no  Zimbabwe    59146  141.501832
59848       no  Zimbabwe    59382   88.290249
59849       no  Zimbabwe    59849   93.115839

[59850 rows x 4 columns]

In [12]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [13]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [14]:
pd_result_large=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_large

       index       date    state       country  confirmed  confirmed_DR
0          0 2020-01-22  Alberta        Canada        0.0           NaN
1          1 2020-01-22       no  Korea, South        1.0           NaN
2          2 2020-01-22       no        Kosovo        0.0           NaN
3          3 2020-01-22       no        Kuwait        0.0           NaN
4          4 2020-01-22       no    Kyrgyzstan        0.0           NaN
...      ...        ...      ...           ...        ...           ...
59845  59845 2020-09-02       no      Barbados      176.0    175.333333
59846  59846 2020-09-02       no       Belarus    72141.0    483.100671
59847  59847 2020-09-02       no       Belgium    85911.0    253.465679
59848  59848 2020-09-02       no       Albania     9728.0     89.448062
59849  59849 2020-09-02       no      Zimbabwe     6638.0     93.115839

[59850 rows x 6 columns]

In [15]:
pd_result_large[pd_result_large['country']=='France']

,index,date,state,country,confirmed,confirmed_DR
39,39,2020-01-22,no,France,0.0,NaN
143,143,2020-01-22,Martinique,France,0.0,NaN
144,144,2020-01-22,Mayotte,France,0.0,NaN
147,147,2020-01-22,New Caledonia,France,0.0,NaN
159,159,2020-01-22,Reunion,France,0.0,NaN
...,...,...,...,...,...,...
59746,59746,2020-09-02,Saint Pierre and Miquelon,France,5.0,inf
59769,59769,2020-09-02,French Guiana,France,9209.0,194.879433
59770,59770,2020-09-02,French Polynesia,France,622.0,24.054422
59776,59776,2020-09-02,Guadeloupe,France,1363.0,27.666667
59821,59821,2020-09-02,St Martin,France,239.0,17.051282

## Filtering the Data using groupby apply

In [16]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [17]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [18]:
pd_result_large=pd.merge(pd_result_large,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_large.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

## Filtering data for doubling Rate

In [19]:
pd_filtered_doubling=pd_result_large[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
59845    no  Zimbabwe  58614             137.484848
59846    no  Zimbabwe  58850             124.764133
59847    no  Zimbabwe  59146             124.782721
59848    no  Zimbabwe  59382             117.121512
59849    no  Zimbabwe  59849             107.422259

In [20]:
pd_result_large=pd.merge(pd_result_large,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_large.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
59845,59845,2020-09-02,no,Barbados,176.0,175.333333,176.8,116.866667
59846,59846,2020-09-02,no,Belarus,72141.0,483.100671,72133.4,476.388484
59847,59847,2020-09-02,no,Belgium,85911.0,253.465679,85868.8,278.794070
59848,59848,2020-09-02,no,Albania,9728.0,89.448062,9726.0,85.530249
59849,59849,2020-09-02,no,Zimbabwe,6638.0,93.115839,6624.6,107.422259

In [21]:
mask=pd_result_large['confirmed']>250
pd_result_large['confirmed_filtered_DR']=pd_result_large['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [22]:
pd_result_large[pd_result_large['country']=='Korea, South'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
58580,58580,2020-08-29,no,Italy,266853.0,182.784894,266728.6,193.445935
58847,58847,2020-08-30,no,Italy,268218.0,189.979827,267976.6,206.519798
59112,59112,2020-08-31,no,Italy,269214.0,227.102922,269197.8,217.048167
59379,59379,2020-09-01,no,Italy,270189.0,273.167935,270327.3,229.010281
59645,59645,2020-09-02,no,Italy,271515.0,234.946545,271456.8,239.333599

In [23]:
pd_result_large.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)